html{
    font-size: 16px;
}
html,body{
    margin:0;
    padding:0
}
header{
background-color: #FDCD87;  
height: 50px;
}
.footer{
    background-color: #FDCD87;
    bottom: 0;
    width: 100%;
    height: 50px;
}
h1,h2,h3,h4,h5,h6{
    margin:0;
    padding: 0;
}
h1{
    font-size: 3.052rem;
}
h2{
    font-size: 2.441rem;
}
h3{
    font-size: 1.953rem;
}
h4{
    font-size: 1.563em;
}
h5{
    font-size: 1.25rem;
}
h6{
    font-size: 1rem;
}
body{
    background-color: #FFF1DB;
    max-height: 100vh;
    position: relative;
    min-height: 100vh;
}
main{
    min-height: calc(100vh - 100px);
}
#register{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contener{
    background-color: #FFFFFF;
    margin: auto;
    width: 30%;
    padding:2% 5%;
    min-width: 50vh;
}
.sub_title{
    text-align: center;
}
.interval{
    height: 24px;
}
#form_area{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#form_area label{
    width: 100%;
    margin-bottom: 5px;
}
#form_area input{
    margin-bottom: 15px;
    width: 100%;
}
#form_area input[type="submit"]{
    width: 30%;
}
#form_area input:nth-last-child(2){
    margin-bottom: 40px;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin:0 auto;
    padding: .9em 2em;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgb(0 0 0 / 25%), 0 2px 3px -2px rgb(0 0 0 / 15%);
    background-color: #ffe297;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
}
.button:hover{
    background-color: #efd287;
}