<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
  <header>
    <h1 class="title">Anunaki</h1>
  </header>
  <div class="contener">
    <h3 class="sub_title">ログイン</h3>
  {% if error != null %}
    <p style="color:red">{{error}}</p>
  {% endif %}
  {% if msg != null %}
    <p style="color:blue">{{msg}}</p>
  {% endif %}
  <form action="{{url_for('login_exe')}}" method="post">
    <label>
      メールアドレス:<input type="mail" name="mail" placeholder="メールアドレス記入" value="{{data.accountname if data is defined else ''}}"><br>
      パスワード：<input type="password"  name="password" placeholder="パスワード記入" value="{{data.password if data is defined else ''}}"><br>
    </label>
    <div>
      <button type="submit">ログイン</button>
    </div>
  </div>
  </form>
  <footer class="footer">
    <p></p>
</footer>
</body>
</html>