<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>account_manage</title>
</head>
<body>
    <h1>User List</h1>
    <table>
        <tr>
            <th>Username</th>
            <th>Action</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user['username'] }}</td>
            <td>
                <form method="POST" action="/delete_user/{{ user['id'] }}">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>