<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<header>
    <h1 class="title">Anunaki</h1>
</header>
<body>
    <h2>マイページ</h2>
    名前{{post_list[0][1]}}
    {% for post in post_list %}
    <p>{{post[6]}}</p>
    <p>{{post[2]}}</p>

    {% if post[5] is defined and post[5] is not none%}
        {% if post[7] == 1 %}
        <img src="{{name+post[5]}}" alt="代替テキスト">
        {% endif %}
        {% if post[7] == 2 %}
        <video src="{{name+post[5]}}" alt="代替テキスト"controls>
        {% endif %}
        {% if post[7] == 3 %}
        <audio src="{{name+post[5]}}" alt="代替テキスト"controls>
        {% endif %}
    {% endif %}

    {% endfor %}
</body>
</html>