<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>新しいパスワードを入力してください</h3>
    <p style="color:red;">{{ message }}</p>
    <form action="{{url_for('password_reset')}}" method="post">
        新しいパスワード：<input type="password" name="password" placeholder="新しいパスワード"><br>
        確認用パスワード：<input type="password" name="password_check" placeholder="確認用パスワード"><br>
        <input type="submit" value="送信">
    </form>
</body>
</html>