<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/post.css">
    <link rel="stylesheet" href="../static/css/defultstyle.css">
    <title>Document</title>

</head>

<body>
    <div class="header">
        <h1 class="rogo">Anunaki</h1>
        <div id="bottun">
            <a id="myPage" href="{{url_for('mypage')}}">マイページ</a>
            <a id="logout" href="{{url_for('logout')}}">ログアウト</a>
        </div>

    </div>
    <div class="postbody">
        <div class="contener">
            <h1 class="sub_title">投稿</h1>
            <form action="{{url_for('register_post')}}" method="POST" enctype="multipart/form-data" id="myForm">
                <textarea name="post" rows="8" class="myformtextarea"></textarea>
                <!-- <input type="text" name="post"> -->
                <input class="file" type="file" name="file">
                <!-- 位置情報を送信するための隠しフィールド -->
                <input type="hidden" id="latitude" name="latitude" value="">
                <input type="hidden" id="longitude" name="longitude" value="">
                {% if msg != null %}
                <p style="color:blue">{{msg}}</p>
                {% endif %}
                <p class="notice">※投稿する場合、位置情報の提供に同意したものとみなします。</p>
                <input type="submit" value='投稿'>
            </form>
        </div>
        <div>
            <table>
                {% for post in post_list %}
                <tr>
                    <td>
                        <div class="post">
                            <div class="nameandsub">
                                <div class="whosepost">{{post[1]}}</div>
                            </div>
                            <div class="nameandsub">
                                <div> {{post[2]}} </div>
                            </div>
                            <div class="media">
                                {% if post[5] is defined and post[5] is not none %}
                                {% if post[7] == 1 %}
                                    <div><img src="{{name+post[5]}}" alt="img"></div>
                                {% endif%}
                                {% if post[7] == 2 %}
                                    <div><video width="640" height="360" src="{{name+post[5]}}" alt="video" controls></video></div>
                                {% endif %}
                                {% if post[5] == 3 %}
                                    <div><audio src="{{name+post[5]}}" alt="audio" controls></audio></div>
                                {% endif %}
                                {% endif %}
                            </div>
                            <div class="button">
                                <div></div>
                                <div>
                                    {{post[8]}}
                                    <button class="emotion_buttons" id="emotion_buttons1" data-postid="{{ post[0] }}"
                                        data-emotion="1">喜</button>
                                    {{post[9]}}
                                    <button class="emotion_buttons" id="emotion_buttons2" data-postid="{{ post[0] }}"
                                        data-emotion="2">怒</button>
                                    {{post[10]}}
                                    <button class="emotion_buttons" id="emotion_buttons3" data-postid="{{ post[0] }}"
                                        data-emotion="3">哀</button>
                                    {{post[11]}}
                                    <button class="emotion_buttons" id="emotion_buttons4" data-postid="{{ post[0] }}"
                                        data-emotion="4">楽</button>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}


            </table>
            <!-- {#{% if post[5] is defined and post[5] is not none%}
        {% if post[7] == 1 %}
        <div><img src="{{name+post[5]}}" alt="代替テキスト"></div>
        {% endif %}
        {% if post[7] == 2 %}
        <div><video src="{{name+post[5]}}" alt="代替テキスト" controls></div>
        {% endif %}
        {% if post[7] == 3 %}
        <div><audio src="{{name+post[5]}}" alt="代替テキスト" controls></div>
        {% endif %}
        {% endif %}
        {% endfor %} #}-->
        </div>
    </div>
    <div class="analysis">
        <div>
            <h2>統計情報はありません</h2>
        </div>
    </div>

</body>

<script>
    // ユーザーの現在の位置情報を取得
    navigator.geolocation.getCurrentPosition(successCallback, errorCallback);

    /***** ユーザーの現在の位置情報を取得 *****/
    function successCallback(position) {
        var gl_text = "緯度：" + position.coords.latitude + "<br>";
        gl_text += "経度：" + position.coords.longitude + "<br>";

        // フォームの隠しフィールドに位置情報を設定
        document.getElementById("latitude").value = position.coords.latitude;
        document.getElementById("longitude").value = position.coords.longitude;
    }

    /***** 位置情報が取得できない場合 *****/
    function errorCallback(error) {
        var err_msg = "";
        switch (error.code) {
            case 1:
                err_msg = "位置情報の利用が許可されていません";
                break;
            case 2:
                err_msg = "デバイスの位置が判定できません";
                break;
            case 3:
                err_msg = "タイムアウトしました";
                break;
        }
        document.getElementById("show_result").innerHTML = err_msg;
    }


    let buttons = document.querySelectorAll('.emotion_buttons');
    // リクエストの送信
    buttons.forEach(function (button) {
        button.addEventListener('click', function () {
            // 送信するデータ（IDとテキスト、aとbの値を追加）
            let Post_id = button.getAttribute("data-postid");
            let Emotion = this.dataset.emotion;
            const data = {
                user_id: '{{user_id}}',
                post_id: Post_id,
                emotion: Emotion
            };

            // HTTPリクエストを送信
            fetch("{{url_for('add_emotion')}}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('サーバーレスポンス:', data);
                })
                .catch(error => {
                    console.error('エラー:', error);
                });
        });
    });
</script>

</html>