<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Anunaki</h1>
    </div>
    <script>
        // ユーザーの現在の位置情報を取得
        navigator.geolocation.getCurrentPosition(successCallback, errorCallback);

        /***** ユーザーの現在の位置情報を取得 *****/
        function successCallback(position) {
            var gl_text = "緯度：" + position.coords.latitude + "<br>";
            gl_text += "経度：" + position.coords.longitude + "<br>";

            // フォームの隠しフィールドに位置情報を設定
            document.getElementById("latitude").value = position.coords.latitude;
            document.getElementById("longitude").value = position.coords.longitude;
        }

        /***** 位置情報が取得できない場合 *****/
        function errorCallback(error) {
            var err_msg = "";
            switch (error.code) {
                case 1:
                    err_msg = "位置情報の利用が許可されていません";
                    break;
                case 2:
                    err_msg = "デバイスの位置が判定できません";
                    break;
                case 3:
                    err_msg = "タイムアウトしました";
                    break;
            }
            document.getElementById("show_result").innerHTML = err_msg;
        }
    </script>
    <div>
        <h1>投稿</h1>
        <form action="{{url_for('register_post')}}" method="POST" enctype="multipart/form-data">
            <input type="text" name="post">
            <input class="file" type="file" name="file">
             <!-- 位置情報を送信するための隠しフィールド -->
            <input type="hidden" id="latitude" name="latitude" value="">
            <input type="hidden" id="longitude" name="longitude" value="">
            <input type="submit"value='投稿'>
        </form>
    </div>
</body>
</html>